@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-saira: var(--font-saira);
  --font-abhaya: var(--font-abhaya);
  --font-sinhalaNato: var(--font-sinhalaNato);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.828 0.189 84.429);
  --chart-4: oklch(0.398 0.07 227.392);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@theme {
  --color-superbase: #1a54da;
  --color-subbase: #0031cb;
  --breakpoint-xxxs: 330px;
  --breakpoint-xxs: 380px;
  --breakpoint-xs: 480px;
  --breakpoint-bxs: 580px;
  --breakpoint-bigmd: 860px;
  --breakpoint-midxl: 1350px;
  --shadow-special-error: 0px 0px 10px rgba(240, 72, 60, 1);
  --shadow-special-warning: 0px 0px 5px rgba(230, 108, 0, 1);
  --shadow-special-success: 0px 0px 5px rgba(16, 88, 26, 1);
  /* --shadow-special-sucess: 0px 0px 10px rgba(0, 0, 0, 0.25); */
}

@media (max-width: 380px) {
  .country-list,
  .react-tel-input .country-list {
    width: calc(100vw - 80px) !important;
    margin-bottom: 8 !important;
  }
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

.react-tel-input .flag-dropdown:focus-within {
  border-color: #104e6a;
}

/*toast*/
[data-sonner-toast][data-styled="true"] .sonner-toast {
  display: flex;
  gap: 5;
}

/*error toast style customization*/
[data-sonner-toast][data-type="error"][data-rich-colors="true"] {
  background: #ff00004d !important;
  border-color: #ff00007a !important;
  color: var(--color-toast-error-text) !important;
  margin: 0;
  text-decoration: none !important;
}

[data-sonner-toast][data-type="loading"][data-rich-colors="true"] {
  background: #73de004d !important;
  border-color: #73de007a !important;
  color: var(--color-toast-error-text) !important;
  margin: 0;
  text-decoration: none !important;
}

[data-sonner-toast][data-type="warning"][data-rich-colors="true"] {
  background: #ffc74e4d !important;
  border-color: #f6a800 !important;
  color: var(--color-toast-error-text) !important;
  margin: 0;
  text-decoration: none !important;
}

/*success toast style customization*/
[data-sonner-toast][data-type="success"][data-rich-colors="true"] {
  /* background: #0480004d !important; */
  background: #04800080 !important;
  border-color: #00800080 !important;
  color: var(--color-toast-error-text) !important;
  margin: 0;
  text-decoration: none !important;
}

/*toast icon defualt styling change*/
[data-sonner-toast][data-styled="true"] [data-icon] svg {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
